.page-title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.navbar{
    background-color: rgb(0, 217, 255);
    color:white
}

.section-title, .project, .about-text{
    background-color: yellow;
    color: red
}

.page-title{
    font-family: "Helvetica";
    text-align:center;
    font-style:oblique;
    text-transform:capitalize; 
    color: hsla(0, 92%, 47%, 0.3)
}

input[required] {
    letter-spacing: 2px;
    text-decoration: underline;
  }

a:link {
    color: blue;
    text-decoration: underline;
}
  
a:visited {
    color: purple;
}

a:hover {
    color: green;
    text-decoration: none;
}

input:focus {
    border: 1px solid #2620d3;
}

.about{
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 150px;
    margin-left: 50px;
    padding-top: 200px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 50px;
  }